<p-toolbar>
  <ng-template #start><h2 class="m-0"><i class="pi pi-clock"></i> Horarios de Doctores</h2></ng-template>
  <ng-template #end><p-button label="Nuevo Horario" icon="pi pi-plus" (onClick)="openHorarioDialog()" /></ng-template>
</p-toolbar>
@for (d of doctores; track d.medicoId) {
  @if (data.getHorariosDeDoctor(d.medicoId).length > 0) {
  <p-card styleClass="horario-group">
    <h3 class="horario-title"><p-avatar icon="pi pi-user" shape="circle" /> {{ d.nombrePublico }} <p-tag [value]="data.getDoctorEspecialidad(d.medicoId)" severity="info" /></h3>
    <div class="horario-chips">
      @for (h of data.getHorariosDeDoctor(d.medicoId); track h.horarioId) {
      <div class="horario-chip">
        <strong>{{ getDiaSemana(h.diaSemana) }}</strong>
        <span>{{ h.horaInicio }} - {{ h.horaFin }}</span>
        <p-button icon="pi pi-pencil" [rounded]="true" [text]="true" severity="info" size="small" (onClick)="openHorarioDialog(h)" />
        <p-button icon="pi pi-trash" [rounded]="true" [text]="true" severity="danger" size="small" (onClick)="deleteHorario(h)" />
      </div>
      }
    </div>
  </p-card>
  }
}

<!-- HORARIO DIALOG -->
<p-dialog header="{{ horarioForm['horarioId'] ? 'Editar' : 'Nuevo' }} Horario" [(visible)]="horarioDialog" [modal]="true" [style]="{width: '450px'}">
  <div class="dialog-form">
    <div class="field"><label>Doctor *</label>
      <select class="p-inputtext" [(ngModel)]="horarioForm['medicoId']">
        @for (d of doctores; track d.medicoId) { <option [ngValue]="d.medicoId">{{ d.nombrePublico }}</option> }
      </select>
    </div>
    <div class="field"><label>Dia *</label>
      <select class="p-inputtext" [(ngModel)]="horarioForm['diaSemana']">
        @for (dia of diasSemana; track dia.value) { <option [ngValue]="dia.value">{{ dia.label }}</option> }
      </select>
    </div>
    <div class="form-row">
      <div class="field"><label>Hora Inicio</label><input pInputText type="time" [(ngModel)]="horarioForm['horaInicio']" /></div>
      <div class="field"><label>Hora Fin</label><input pInputText type="time" [(ngModel)]="horarioForm['horaFin']" /></div>
    </div>
  </div>
  <ng-template #footer>
    <p-button label="Cancelar" icon="pi pi-times" [text]="true" (onClick)="horarioDialog = false" />
    <p-button label="Guardar" icon="pi pi-check" (onClick)="saveHorario()" />
  </ng-template>
</p-dialog>
